#JWT_SECRET='secret dont share with anyone plsssss'
#SYNC=true
#SYNC_CREATE_FAKE_USERS=true
#LOG_SEED=false
#DATABASE_URL=postgres://username:password@localhost:5432/dopa
#EXTERNAL_DATABASE_URL=postgresql://username:password@service_id.region-postgres.render.com/database_name
#ADMIN_EMAIL=example.admin@gmail.com
#ADMIN_PASS=examplePassword
#DAILY_GOAL_CRON="*/15 * * * *"