.grid-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 10px;
  padding: 10px;
}

.grid-item {
  background-color: #4cafef;
  color: white;
  padding: 20px;
  text-align: center;
  border-radius: 5px;
  font-weight: bold;
}
button {
  background-color: rgba(245, 245, 220, 0.274);
  padding: 0.5rem;
  font-size: small;
  font-weight: 600;
  max-width: 12vw;
  text-align: center;
  border-radius: 6px;
}
